/* add your styles here */
#portfolio {
  position: relative;
}

.primary,
.secondary {
  position: absolute;
}
.secondary {
  opacity: 0;
  position: absolute;
}

.primary:hover {
  opacity:0;
}

.secondary:hover {
  opacity: 1;
}