/* add your styles here */
#portfolio {
  position: relative;
  perspective: 1000;
}

.portfolio-item {

}

.primary,
.secondary {
  position: absolute;
}
.secondary {
  opacity: 0;
  position: absolute;
}

.primary:hover {
  opacity:0;
  transition: background-image 1s ease-in-out;
}

.secondary:hover {
  opacity: 1;
  transition: background-image 1s ease-in-out;
}